


<link rel="stylesheet" type="text/css" href="stylesheets/add-blog.css">
			<div class='box'>
			<form id="myform">
				  <div class="form-group">
				    <label for="Blog title">Title: </label>
				    <input type="text" class="form-control" id="blog-title" placeholder="Add Title to your blog...">
				  </div>

          <div class="form-group">
            <label for="Blog title">SubTitle: </label>
            <input type="text" class="form-control" id="blog-subtitle" placeholder="Add SubTitle to your blog...">
          </div>

				  <div class="form-group">
				    <label for="blog category">Choose category: </label>
				    <select class="form-control" id="blog-category">
				      <option>Food</option>
				      <option>Travel</option>
				      <option>Politics</option>
				      <option>Technology</option>
				      <option>Health</option>
				      <option selected>None</option>
				    </select>
				  </div>


				  <div class="form-group">
				    <label for="blog content">Content:</label>
				    <textarea class="form-control" id="blog-description" rows="5" placeholder="Write something..."></textarea>
				  </div>

				  <center><button type="button" class="btn btn-primary" onclick="Add()">ADD</button></center>

			</form>
			</div>

    
  <script type="text/javascript" src = "/javascripts/add-blog.js"></script>

