<link rel="stylesheet" href="stylesheets/admin-one.css">
  
  <div class="loader" id="ld"></div>
    <div class="container blg-container" id="blog-id">
        {{!-- <div class="blog" id="blog-id"> --}}
            {{!-- <h1 class="title">article.title</h1>
            <hr style="border:solid black 0.5px;">
              <span><h6>created by - username</h6></span>
              <span><h6>created on : created_on</h6><span>
            <p class="description">
              article.description
            </p> --}}
        {{!-- </div> --}}
    </div>
    <div id="mySidenav" class="sidenav">
          <a href="#" id="home">Travel</a>
          <a href="#" id="blog">Food</a>
          <a href="#" id="projects">Politics</a>
        <a href="#" id="about">Technical</a>
        <a href="#" id="login">Health</a>
        <a href="#" id="signup">Music</a>
    </div>
    
   
    {{!-- <script type="text/javascript" src = "../scripts/login-script.js"></script> --}}
    
    <script type="text/javascript" src = "/javascripts/admin-one.js"></script>

    