{{!-- hello vikas,shashi --}}
<link rel="stylesheet" href="/stylesheets/home.css">

    
    
    <div class="loader" id="ld"></div>
    <div class="container py-5 my-5 main" id="blg-id">
          {{!-- <div class="blog-area">
            <div class="blog">
              <h2 style="margin-bottom: 20px; font-size: 40px;">Blog Title</h2><hr style="border:solid black 0.5px;">
              <p style="font-size: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque lacus, dictum sed purus ac, consequat sodales dui. Etiam auctor mauris ante, sit amet egestas sem volutpat a. Maecenas ornare tortor eget tortor suscipit, sed efficitur tortor molestie. Praesent feugiat nisl sagittis bibendum sodales. Nam eleifend tincidunt tristique. Nunc vitae ante elementum, porta lorem et, interdum odio. Donec nec leo sem. Vestibulum sed tellus id eros sollicitudin mattis et ac felis. Vivamus vehicula nulla arcu, nec tempus elit feugiat id. Proin viverra sit amet nibh non fringilla. Phasellus tristique accumsan consectetur.
              </p>
            </div>
          </div> 

          <div class="blog-area">
            <div class="blog">
              <h2 style="margin-bottom: 20px; font-size: 40px;">Blog Title</h2><hr style="border:solid black 0.5px;">
              <p style="font-size: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque lacus, dictum sed purus ac, consequat sodales dui. Etiam auctor mauris ante, sit amet egestas sem volutpat a. Maecenas ornare tortor eget tortor suscipit, sed efficitur tortor molestie. Praesent feugiat nisl sagittis bibendum sodales. Nam eleifend tincidunt tristique. Nunc vitae ante elementum, porta lorem et, interdum odio. Donec nec leo sem. Vestibulum sed tellus id eros sollicitudin mattis et ac felis. Vivamus vehicula nulla arcu, nec tempus elit feugiat id. Proin viverra sit amet nibh non fringilla. Phasellus tristique accumsan consectetur.
              </p>
            </div>
          </div>



          <div class="blog-area">
            <div class="blog">
              <h2 style="margin-bottom: 20px; font-size: 40px;">Blog Title</h2><hr style="border:solid black 0.5px;">
              <p style="font-size: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque lacus, dictum sed purus ac, consequat sodales dui. Etiam auctor mauris ante, sit amet egestas sem volutpat a. Maecenas ornare tortor eget tortor suscipit, sed efficitur tortor molestie. Praesent feugiat nisl sagittis bibendum sodales. Nam eleifend tincidunt tristique. Nunc vitae ante elementum, porta lorem et, interdum odio. Donec nec leo sem. Vestibulum sed tellus id eros sollicitudin mattis et ac felis. Vivamus vehicula nulla arcu, nec tempus elit feugiat id. Proin viverra sit amet nibh non fringilla. Phasellus tristique accumsan consectetur.
              </p>
            </div>
          </div>--}}
        </div>
    <div class="container py-5 my-5 main" id="blg-id1" style="display:none;"></div>
    <div id="mySidenav" class="sidenav">
        <a id="home" onclick="getCategory('travel')">Travel</a>
        <a id="blog" onclick="getCategory('food')">Food</a>
        <a id="projects" onclick="getCategory('Politics')">Politics</a>
        <a id="about" onclick="getCategory('Technology')">Technology</a>
        <a id="login" onclick="getCategory('health')">Health</a>
        <a id="signup" onclick="getCategory('Music')">Music</a>
    </div>
      <script type="text/javascript" src = "javascripts/home.js"></script>

    {{!-- <script type="text/javascript" src = "../scripts/login-script.js"></script> --}}
    