<link rel="stylesheet" type="text/css" href="stylesheets/myblogs.css">
<div class="loader" id="ld"></div>
<div id='username'></div>
<div class="container" id='myblogs' style="margin-top:10%;"> </div>
<div class="container" id='mycatblogs' style="display:none; margin-top:10%;"> 
</div>

<div id="mySidenav" class="sidenav">
        <a id="home" onclick="getCategory('travel')">Travel</a>
        <a id="blog" onclick="getCategory('food')">Food</a>
        <a id="projects" onclick="getCategory('Politics')">Politics</a>
        <a id="about" onclick="getCategory('Technical')">Technical</a>
        <a id="login" onclick="getCategory('health')">Health</a>
        <a id="signup" onclick="getCategory('Music')">Music</a>
    </div>

<script type="text/javascript" src="javascripts/myblogs.js"></script>